name: "{{ model_name }}"
platform: "{{ platform }}"
max_batch_size: {{ max_batch_size }}
default_model_filename: "{{ default_model_filename }}"
input [
        {% for input_item in inputs -%}
        {
            name: "{{ input_item.name }}"
            data_type: TYPE_{{ input_item.data_type }}
            format: {{ input_item.format }}
            dims: [{{ input_item.dims | join(', ') }}]
        }
        {% if not loop.last %},{% endif %}
        {% endfor %}
]

output [
        {% for output_item in outputs -%}
        {
            name: "{{ output_item.name }}"
            data_type: TYPE_{{ output_item.data_type }}
            dims: [{{ output_item.dims | join(', ') }}]
        }
        {% if not loop.last %},{% endif %}
        {% endfor %}
]

{% if dynamic_batching_enabled %}
dynamic_batching {
  preferred_batch_size: [ {{ preferred_batch_size | join(', ') }} ]
  max_queue_delay_microseconds: {{ max_queue_delay_microseconds }}
}
{% endif %}

instance_group [
    {% for instance in instance_groups -%}
    {
        kind: {{ instance.kind }}
        count: {{ instance.count }}
        {% if instance.gpus is defined %}
        gpus: {{ instance.gpus | join(', ') }}
        {% endif %}
    }
    {% if not loop.last %},{% endif %}
    {% endfor %}
]

